---
import TheHeader from "../components/TheHeader.astro";
import TheJumbotron from "../components/TheJumbotron.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kelas Pondok - Al-Quran Digital">
	<TheHeader />
	<main>
		<TheJumbotron />
	</main>
</Layout>
