---
import TheJumbotron from "@/components/TheJumbotron.astro";
import TheFooter from "@/components/TheFooter.astro";
import Layout from "@/layouts/Layout.astro";
import TheMainFeature from "@/components/TheMainFeature.astro";
import TheFeatureDetail from "@/components/TheFeatureDetail.astro";
import TheCta from "@/components/TheCta.astro";
import TheTechStack from "@/components/TheTechStack.astro";
import ThePricing from "@/components/ThePricing.astro";
---

<Layout title="Kelas Pondok - Al-Quran Digital Bahasa Indonesia">
  <main>
    <TheJumbotron />
    <TheMainFeature />
    <TheFeatureDetail />
    <ThePricing />
    <TheCta />
    <TheTechStack />
  </main>
  <TheFooter />
</Layout>
