---
import Segment from "./Segment.astro";

---

<section class="w-full py-16 lg:py-20 bg-gradient-to-b from-gray-50 to to-gray-100 dark:from-gray-900 dark:to-gray-950">
    <Segment
        title="TEKNOLOGI"
        subTitle="Dibangun dengan teknologi web terbaru" 
        shortDescription="Untuk menghasilkan produk applikasi yang handal perlu digunakan teknologi terbaru yang mumpuni"
    />
    <ul class="mx-auto px-4 mt-12 grid max-w-md grid-cols-1 gap-10 [counter-reset:steps] sm:mt-16 lg:mt-20 lg:max-w-5xl lg:grid-cols-4">
        <li class="flex-start group relative flex [counter-increment:steps] lg:flex-col">
            <span class="absolute left-[18px] top-14 h-[calc(100%_-_32px)] w-px bg-gray-300 dark:bg-gray-600 lg:right-0 lg:left-auto lg:top-[18px] lg:h-px lg:w-[calc(100%_-_72px)]" aria-hidden="true"></span>
            <div class="inline-flex h-10 w-10 shrink-0 items-center justify-center rounded-xl border border-gray-300 bg-gray-50 transition-all duration-200">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="23.34" height="32" viewBox="0 0 256 351"><defs><filter id="logosFirebase0" width="200%" height="200%" x="-50%" y="-50%" filterUnits="objectBoundingBox"><feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="17.5"/><feOffset in="shadowBlurInner1" result="shadowOffsetInner1"/><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/><feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"/></filter><filter id="logosFirebase1" width="200%" height="200%" x="-50%" y="-50%" filterUnits="objectBoundingBox"><feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="3.5"/><feOffset dx="1" dy="-9" in="shadowBlurInner1" result="shadowOffsetInner1"/><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/><feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0"/></filter><path id="logosFirebase2" d="m1.253 280.732l1.605-3.131l99.353-188.518l-44.15-83.475C54.392-1.283 45.074.474 43.87 8.188L1.253 280.732Z"/><path id="logosFirebase3" d="m134.417 148.974l32.039-32.812l-32.039-61.007c-3.042-5.791-10.433-6.398-13.443-.59l-17.705 34.109l-.53 1.744l31.678 58.556Z"/></defs><path fill="#FFC24A" d="m0 282.998l2.123-2.972L102.527 89.512l.212-2.017L58.48 4.358C54.77-2.606 44.33-.845 43.114 6.951L0 282.998Z"/><use fill="#FFA712" fill-rule="evenodd" href="#logosFirebase2"/><use filter="url(#logosFirebase0)" href="#logosFirebase2"/><path fill="#F4BD62" d="m135.005 150.38l32.955-33.75l-32.965-62.93c-3.129-5.957-11.866-5.975-14.962 0L102.42 87.287v2.86l32.584 60.233Z"/><use fill="#FFA50E" fill-rule="evenodd" href="#logosFirebase3"/><use filter="url(#logosFirebase1)" href="#logosFirebase3"/><path fill="#F6820C" d="m0 282.998l.962-.968l3.496-1.42l128.477-128l1.628-4.431l-32.05-61.074z"/><path fill="#FDE068" d="m139.121 347.551l116.275-64.847l-33.204-204.495c-1.039-6.398-8.888-8.927-13.468-4.34L0 282.998l115.608 64.548a24.126 24.126 0 0 0 23.513.005"/><path fill="#FCCA3F" d="M254.354 282.16L221.402 79.218c-1.03-6.35-7.558-8.977-12.103-4.424L1.29 282.6l114.339 63.908a23.943 23.943 0 0 0 23.334.006l115.392-64.355Z"/><path fill="#EEAB37" d="M139.12 345.64a24.126 24.126 0 0 1-23.512-.005L.931 282.015l-.93.983l115.607 64.548a24.126 24.126 0 0 0 23.513.005l116.275-64.847l-.285-1.752l-115.99 64.689Z"/></svg>
            </div>
            <div class="ml-6 lg:ml-0 lg:mt-10">
                <h3 class="text-xl font-bold text-slate-800 dark:text-gray-300 before:mb-2 before:block before:font-mono before:text-sm before:text-gray-500">
                    Firebase
                </h3>
                <h4 class="mt-2 text-base text-gray-700 dark:text-gray-400">
                    Firebase merupakan salah satu produk Fullstacknya Google untuk pengembangan aplikasi.
                </h4>
            </div>
        </li>
        <li class="flex-start group relative flex [counter-increment:steps] lg:flex-col">
            <span class="absolute left-[18px] top-14 h-[calc(100%_-_32px)] w-px bg-gray-300 dark:bg-gray-600 lg:right-0 lg:left-auto lg:top-[18px] lg:h-px lg:w-[calc(100%_-_72px)]" aria-hidden="true"></span>
            <div class="inline-flex h-10 w-10 shrink-0 items-center justify-center rounded-xl border border-gray-300 bg-gray-50 transition-all duration-200">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="37.07" height="32" viewBox="0 0 256 221"><path fill="#41B883" d="M204.8 0H256L128 220.8L0 0h97.92L128 51.2L157.44 0h47.36Z"/><path fill="#41B883" d="m0 0l128 220.8L256 0h-51.2L128 132.48L50.56 0H0Z"/><path fill="#35495E" d="M50.56 0L128 133.12L204.8 0h-47.36L128 51.2L97.92 0H50.56Z"/></svg>
            </div>
            <div class="ml-6 lg:ml-0 lg:mt-10">
                <h3 class="text-xl font-bold text-slate-800 dark:text-gray-300 before:mb-2 before:block before:font-mono before:text-sm before:text-gray-500">
                    Vue
                </h3>
                <h4 class="mt-2 text-base text-gray-700 dark:text-gray-400">
                    Progresif Framework JavaScript untuk mengembangkan applikasi web interaktif.
                </h4>
            </div>
        </li>
        <li class="flex-start group relative flex [counter-increment:steps] lg:flex-col">
            <span class="absolute left-[18px] top-14 h-[calc(100%_-_32px)] w-px bg-gray-300 dark:bg-gray-600 lg:right-0 lg:left-auto lg:top-[18px] lg:h-px lg:w-[calc(100%_-_72px)]" aria-hidden="true"></span>
            <div class="inline-flex h-10 w-10 shrink-0 items-center justify-center rounded-xl border border-gray-300 bg-gray-50 transition-all duration-200">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="53.2" height="32" viewBox="0 0 256 154"><defs><linearGradient id="logosTailwindcssIcon0" x1="-2.778%" x2="100%" y1="32%" y2="67.556%"><stop offset="0%" stop-color="#2298BD"/><stop offset="100%" stop-color="#0ED7B5"/></linearGradient></defs><path fill="url(#logosTailwindcssIcon0)" d="M128 0C93.867 0 72.533 17.067 64 51.2C76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2c-12.8 17.067-27.733 23.467-44.8 19.2c-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0ZM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2c9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2c-12.8 17.067-27.733 23.467-44.8 19.2c-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8Z"/></svg>
            </div>
            <div class="ml-6 lg:ml-0 lg:mt-10">
                <h3 class="text-xl font-bold text-slate-800 dark:text-gray-300 before:mb-2 before:block before:font-mono before:text-sm before:text-gray-500">
                    Tailwind
                </h3>
                <h4 class="mt-2 text-base text-gray-700 dark:text-gray-400">
                    Tailwind CSS merupakan salah satu framewok CSS berbasis utility paling popular saat ini.
                </h4>
            </div>
        </li>
        <li class="flex-start group relative flex [counter-increment:steps] lg:flex-col">
            <span class="absolute left-[18px] top-14 h-[calc(100%_-_32px)] w-px bg-gray-300 dark:bg-gray-600 lg:right-0 lg:left-auto lg:top-[18px] lg:h-px lg:w-[calc(100%_-_72px)]" aria-hidden="true"></span>
            <div class="inline-flex h-10 w-10 shrink-0 items-center justify-center rounded-xl border border-gray-300 bg-gray-50 transition-all duration-200">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="36.91" height="32" viewBox="0 0 256 222"><path d="m128 0l128 221.705H0z"/></svg>
            </div>
            <div class="ml-6 lg:ml-0 lg:mt-10">
                <h3 class="text-xl font-bold text-slate-800 dark:text-gray-300 before:mb-2 before:block before:font-mono before:text-sm before:text-gray-500">
                    Vercel
                </h3>
                <h4 class="mt-2 text-base text-gray-700 dark:text-gray-400">
                    Tailwind CSS merupakan salah satu framewok CSS berbasis utility paling popular.
                </h4>
            </div>
        </li>
    </ul>
</section>
